.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
  flex-wrap: wrap;
}

.brand {
  font-size: 1.2em;
}

.links_list {
  display: flex;
  list-style: none;
}

.links_list li {
  margin-right: 1em;
}

.links_list li a {
  padding: 0.4em 0.6em;
  text-decoration: none;
}

.active {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
}

.menuToggle {
  display: none;
  font-size: 1.6rem;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menuToggle {
    display: block;
  }

  .links_list {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 0%;
  }

  .links_list.show {
    display: flex;
  }

  .links_list li {
    margin: 0.5em 0;
  }

  .links_list li a {
    display: block;
    width: 100%;
  }
}
